------------------------------ */ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yanone Kaffeesatz";
  color: #555;
}

.section-page {
  background-color: #e6e6ff;
  padding: 80px;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

@media (max-width: 1200px) {
  .section-page {
    background-color: rgba(0, 0, 255, 0.404);
  }
}
.page-image {
  width: 100%;
}

.page-header-one {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  margin-bottom: 20px;
}

.page-description {
  font-size: 40px;
  margin-bottom: 40px;
}

.btn:link,
.btn:visited {
  display: inline-block;

  padding: 15px 30px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.btn--major:link,
.btn--major:visited {
  background-color: #1a1aff;
  color: white;
}

.btn--major:hover,
.btn--major:active {
  background-color: #000099;
  color: white;
}
.btn--minor:link,
.btn--minor:visited {
  background-color: white;
  color: #555;
}
.btn--minor:hover,
.btn--minor:active {
  background-color: #e6e6ff;
  color: #555;
  box-shadow: inset 0 0 0 3px white;
}

.margin-right-helper {
  margin-right: 20px !important;
}

.customers {
  display: flex;
  margin-top: 70px;
  gap: 40px;
  align-items: center;
}

.customers-imgs {
  display: flex;
}
.customers-imgs img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: -16px;
  border: 2px solid #e6e6ff;
}
.customers-desc {
  font-size: 25px;
  font-weight: 600;
}

.customers-desc span {
  color: #1a1aff;
  font-weight: 600;
}

/* CSS for header */
nav {
  display: flex;
  flex-direction: column;
  background: #294987;
  font-family: "Roboto", sans-serif;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 36px;
}

.navbar-top img {
  height: 67px;
  padding: 2px 7px;
  transform: rotate(12deg);
  filter: brightness(1.05);
}

.navbar-top button {
  cursor: pointer;
  border: none;
  background: white;
  color: #294987;
  font-family: "Roboto", sans-serif;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 4px;
}

.navbar-top button:hover {
  background: #eef4ff;
}

.nav-inner-container {
  display: flex;
  align-items: center;
}

.nav-inner-container h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.9rem;
}

.navbar-bottom {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-bottom li {
  list-style: none;
}

.navbar-bottom li a {
  display: inline-block;
  padding: 8px 42px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-bottom li ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  background: #294987;
}

.navbar-bottom li:hover {
  background-color: hsla(0, 0%, 100%, 0.06);
}

.navbar-bottom li:hover > ul {
  display: block;
}

.fas {
  padding-right: 3px;
}

/* CSS for footer */

.page-footer {
  background-color: #294987;
  font-family: "Roboto", sans-serif;
  color: white;
  justify-content: center;
}

.social {
  display: flex;
  text-decoration: none;
  justify-content: center;
  gap: 50px;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.list-inline {
  display: flex;
  list-style-type: none;
  justify-content: center;
  font-size: 20px;

  gap: 50px;
}
.list-inline-item a {
  color: white;
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

/* CSS for contact.html page */

.content-header {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
  align-items: center;
  padding: 50px;
}
.contact-section {
  background-image: url(/Images/test2contact.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 100%;
  height: 650px;
  width: 100%;
}
.contact-page-header {
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  font-size: 60px;
}

.contact-no {
  color: white;

  font-size: 18px;
}

.contact-mail {
  color: #000099;
  font-size: 18px;
  font-weight: 300;
}
.contact-form {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin-left: 200px;
}

.testc {
  background-color: whitesmoke;
  width: 200%;
  height: 100%;
}

.contact-submit {
  background-color: whitesmoke;
  margin-left: 12.5%;
  padding: 1px;
  margin-top: 75px;
  transition: all 0.3s;
  margin-bottom: 50px;
}

.contact-submit:hover {
  background-color: #3333ff;
  color: white;
  cursor: grab;
}
:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

small {
  color: var(--error-color);
  visibility: hidden;
}

.contact-left.error input {
  border-color: var(--error-color);
  border-width: thick;
}

.contact-left.success input {
  border-color: var(--success-color);
  border-width: thick;
}

.contact-left.error small {
  visibility: visible;
}
/* styles for offer page added  */
.modal-content {
  display: none;
  color: rgb(37, 37, 37);
  font-family: "Times New Roman", Times, serif;
  background-color: #2cade9a1;
  border: 2px solid blue;
}

.modal-content.show-modal {
  display: block;
}
