html {
  background-color: rgb(122, 192, 233);
}
.weekcontainer {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  justify-content: space-between;
  gap: 60px;
}
img {
  width: 700px;
  height: 450px;
}

.menu1 {
  border: 1px solid blue;
  padding: 1% 1% 1% 1%;
  background-color: aliceblue;
  justify-content: center;
  align-content: center;
}
.menu1 li {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 0, 255, 0.397);
  cursor: grab;
}
