      
.main
    {
        margin-left:100px;
        margin-right: 100px;
        padding: 20px;
    }
.main h2
    { 
        font-weight: bold;
        color:#4CAF50;
    }
.main h4
    {
        font-size: large;
        
    }
.abes
    {
        display: flex;
        gap: 10px;
    }
.polaroid 
    {        
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }
.polaroid img
    {
        box-shadow: 4px 0px 4px rgba(219, 32, 163, 0.87);
        width: 100%;
    }
.container 
    {
        text-align: center;
        padding: 10px 20px;
        background-color:paleturquoise;
        box-shadow: 4px 4px 4px rgba(219, 32, 163, 0.87);
    }
.container p
    {
        font-weight: bold;
    }
.container ul li
    {
        list-style: none;
        
    }
#g
{
    height: 30px;
    width: 100px;
    font-weight: bold;
    background-color: palevioletred;
    border: 2px solid rgb(241, 86, 112);
}
input
    {
        background-color: rgb(88, 185, 88);
        width: 500px;
        height: 30px;
        color: white;
        text-align:  left;
        margin-bottom: 10px;
    }
.b 
    {
        background-color: rgb(88, 185, 88);
        width: 500px;
        height: 30px;
        color: white;
        text-align: center;
         margin-bottom: 20px;
    }