h1
{
    text-align: center;
    color: rgb(5, 73, 5);
}
.item1 { grid-area: a; text-align: center; color:rebeccapurple;}
.item2 { grid-area: b; }
.item3 { grid-area: c; }
.item4 { grid-area: d; }
.item5 { grid-area: e; }
.item6 { grid-area: f; }
.item7 { grid-area: g; }
.item8 { grid-area: h; }
.item3 img 
{
    margin-left: 100px;
    width: 450px;
    height: 200px;
}
.grid-contain {
  display: grid;
  grid-template-areas:
    'a a c c'
    'b f c c'
    'd e g h';  
  grid-gap: 5px;
  background-color:darkcyan;
  padding: 5px;
  font-size: 10px;
}
.grid-contain > div 
{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 20px;
}