.gallery
{
margin: 20px 50px;
}
.gallery img
{
height:240px;
width: 350px;
padding: 10px;
filter: grayscale(90%);
transition: 1s;
border-radius: 20px;
}
.gallery img:hover
{
filter: grayscale(0);
transform: scale(1.6);
}
.gallery h1
{
    text-align: center;
    color: green;
}