@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    flex-direction: column;
    background: #294987;
    font-family: "Roboto", sans-serif;
}

.navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 36px;
}

.navbar-top img {
    height: 67px;
    padding: 2px 7px;
    transform: rotate(12deg);
    filter: brightness(1.05);
}

.navbar-top button{
    cursor: pointer;
    border: none;
    background: white;
    color: #294987;
    font-family: "Roboto", sans-serif;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0 4px;
}

.navbar-top button:hover{
    background: #eef4ff;
}

.nav-inner-container {
    display: flex;
    align-items: center;
}

.nav-inner-container h2 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
}

.navbar-bottom {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-bottom li {
    list-style: none;
    
}

.navbar-bottom li a {
    display: inline-block;
    padding: 8px 42px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar-bottom li ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;
    background: #294987;
  }
  .navbar-bottom li:hover > ul {
    display: block;
  }
  

.fas {
    padding-right: 3px;
}

.navbar-bottom li:hover {
    background-color: hsla(0, 0%, 100%, 0.06);
}

.navbar-bottom li:active {
    border-bottom: 2px solid white;
}
.footer-basic {
    /* padding:15px 0 0 0; */
    width: 100%;
    color:#fefeff;
    /*position:absolute;*/
    bottom: 5px;;
    text-align: center;
    /* margin-bottom: 0%;
    margin-left: 30%; */
    width: 100%;
    padding: 20px 0;
    background-color:#294987;
}
social{margin-bottom: 0%;
    margin-left: 30%;}
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
